._header {
    background-color: lightslategray;
}



._bg-green {
    background-color: #00AD93;
}

._portfolio{
    background-color: aliceblue;
}

._card {
    background-color: white;
}


._footer {
    background-color: lightslategray;
}


._copyright {
    background-color: dark;
}

._ul {
    width: 100%;
    
}


._img {
    display: flex;
    
    padding: 10px;
    border-radius: 20px;
}




._img-hero {
    width: 20%;
}




._bar {
    width: 20%;
    height: 3px;
} 

._icon {
   font-size: 30px;
   color: white;

  
}

._title {
    font-size: 3.5rem;
}

