._header {
    background-color: lightslategray;
}



._hero {
    background-color: #00AD93;
}

._portfolio{
    background-color: aliceblue;
}

._card {
    background-color: white;
}


._footer {
    background-color: lightslategray;
}


._copyright {
    background-color: dark;
}

._t-center {
    text-align: center;
}

._img {
    display: flex;
    
    padding: 10px;
    border-radius: 20px;
}



